html, body {
    background-color: #ebb400;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-family: var(--font-primary);
    font-size: 0.9rem;
}

.container__img {
    width: 450px;
    height: 450px;
}

.container__img img{
    width: 100%;
    
}

.container__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: 8rem;
}

.container__text h1{
    color: var(--black-primary);
    font-size: 6rem;
}

.container__text h2 {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.8rem;
}

.container__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__btn p strong {
    font-weight: bold;
}

.container__btn img {
    width: 80px;
}

.container__btn a {
    background-color: var(--black-primary);
    font-size: 1.4rem;
    font-family: var(--font-primary);
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.container__btn a:hover {
    transition: 800ms;
    transform: scale(1.2);
    box-shadow: 4px 4px 1px var(--white-primary);
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .container__img {
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container__img img{
        width: 350px;
    }

    .container__box {
        margin-top: 0;
        gap: 2rem;
    }

    .container__btn{
        justify-content: space-evenly;
    }

}