@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Nunito Sans", sans-serif;

    --bg-primary: #000;
    --bg-secondary: #FFF;
    --bg-tertiary: #191919;

    --color-tertiary: #8c52ff;

    --black-primary: #000000;
    --black-shadows: rgba(0, 0, 0, 0.404);

    --white-primary: #FFF;

    --font-color-one: #FFF;
    --font-color-two: #000;

}