body, main {
    background-color: #000000;
    overflow-x: hidden;
}

.container__home {
    width: 100vw;
    height: 100dvh;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 0 20px var(--black-shadows);
}

.container__home__text {
    width: 55vw;
    font-family: var(--font-primary);
    color: var(--font-color-one);
    text-align: center;
}

.container__home__text h1 {
    font-size: 3em;
    font-weight: 400;
    padding: 0.2em 0;
}

.container__home__text p {
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    opacity: 80%;
}

.container__home__img {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__img {
    width: 600px;
    height: 600px;
}

.container__img img {
    width: 100%;
}


@media screen and (max-width: 1024px) {
    .container__home__text{
        width: 55vw;
    }
    .container__home__text h1 {
        font-size: 2.2rem;
    }
    .container__home__text p {
        font-size: 0.8em;
    }
    .container__img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 730px) {
    .container__home {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .container__home__text {
        width: 90vw;
        padding-bottom: 4em;
    }
    .container__home__text h1{
        font-size: 2rem;
    }
    .container__home__text p {
        font-size: 0.7em;
    }
    .container__home__img {
        width: 90vw;
        padding-bottom: 2em;
    }
    .container__img {
        width: 300px;
        height: 300px;
    }
     
}

/*container Us*/

.container__us {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.container__text {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: var(--font-primary);
    color: var(--font-color-one);
}

.container__text h1 {
    font-size: 2.6rem;
    font-weight: 400;
    padding: 3rem 0;
}

.container__text p {
    font-size: 1em;
    text-align: center;
    font-weight: 200;
    opacity: 80%;
}

.container__us__img {
    width: 500px;
    height: 500px;
    overflow-y: hidden;
    box-shadow: 0 0 10px var(--black-shadows);
    border-radius: 25px;
}

.container__us__img img {
    width: 100%;
}
