body, main {
    background-color: #000000;
    overflow-x: hidden;
}

.container__home {
    width: 100vw;
    height: 100dvh;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 0 20px var(--black-shadows);
}

.container__home__text {
    width: 55vw;
    font-family: var(--font-primary);
    color: var(--font-color-one);
    text-align: center;
}

.container__home__text h1 {
    font-size: 3em;
    font-weight: 400;
    padding: 0.2em 0;
}

.container__home__text p {
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    opacity: 80%;
}

.container__home__img {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__img {
    width: 600px;
    height: 600px;
}

.container__img img {
    width: 100%;
}


@media screen and (max-width: 1024px) {
    .container__home__text{
        width: 55vw;
    }
    .container__home__text h1 {
        font-size: 2.2rem;
    }
    .container__home__text p {
        font-size: 0.8em;
    }
    .container__img {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 730px) {
    .container__home {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .container__home__text {
        width: 90vw;
        padding-bottom: 4em;
    }
    .container__home__text h1{
        font-size: 2rem;
    }
    .container__home__text p {
        font-size: 0.7em;
    }
    .container__home__img {
        width: 90vw;
        padding-bottom: 2em;
    }
    .container__img {
        width: 300px;
        height: 300px;
    }
     
}

/*container Us*/

.container__us {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 0;
    margin-bottom: 8em;
}

.container__text {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: var(--font-primary);
    color: var(--font-color-one);
    padding-bottom: 1em;
}

.container__text h1 {
    font-size: 2.6rem;
    font-weight: 400;
    padding: 3rem 0;
}

.container__text p {
    font-size: 1em;
    text-align: center;
    font-weight: 200;
    opacity: 80%;
}

.container__us__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 3em 0;
    background-image: url("/src/img/ImgMain/pixelcut-export.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 30px 40px #000000, inset 0px -30px 40px #000000;
}

.box {
    width: 50vw;
    display: flex;
    align-items: center;
    gap: 4em;
}

.container__us__box-1 {
    justify-content: flex-end;
}

.container__us__box-2 {
    justify-content: flex-start;
}

.container__us__cards .cards {
    width: 15vw;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    color: var(--font-color-one);
    font-family: var(--font-secondary);
    text-shadow: 1px 2px 3px var(--black-shadows);
}

.container__us__cards .cards:hover {
    transform: scale(1.05);
    transition: 400ms;
    box-shadow: 0 0 12px -2px #dd00ff;
    cursor: pointer;
}

.container__us__cards img {
    width: 35px;
    padding-top: 1em;
    opacity: 90%;
}

.container__us__cards h1 {
    font-size: 1.15em;
    font-weight: 300;
    padding-top: 1em;
}

.container__us__cards p {
    font-size: 0.9em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.3em;
    padding: 3em 0.5em 0 0.5em;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .container__us__cards .cards {
        width: 18vw;
        height: 36vh;
    }
    .container__us__cards img {
        width: 30px;
        padding-top: 0.6em;
    }  
    .container__us__cards h1 {
        font-size: 1em;
        padding-top: 0.6em;
    }
    .container__us__cards p {
        font-size: 0.8em;
        line-height: 1.35em;
    }
}

@media screen and (max-width: 1024px) {
    .container__us__cards {
        gap: 2.4em;
    }
    .container__us__cards .cards {
        width: 19vw;
        height: 34vh;
    }
    .container__us__cards img {
        width: 25px;
        padding-top: 0.4em;
    }    
    .container__us__cards p {
        font-size: 0.7em;
        font-weight: 200;
        letter-spacing: 1px;
        line-height: 1.3em;
        padding: 1.8em 0.3em 0 0.3em;
    }
}

@media screen and (max-width: 730px) {
    .container__text h1 {
        font-size: 2.6rem;
        font-weight: 400;
        padding: 1.6rem 0;
    }
    .container__us__cards {
        flex-direction: column;
        gap: 2em;
    }
    .container__us__cards .cards {
        width: 34vw;
        height: 22vh;
    }
    .box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
    }
    .container__us__cards img {
        width: 25px;
        padding-top: 0.4em;
    }
    .container__us__cards h1 {
        font-size: 0.9em;
        padding-top: 0.4em;
    }
    .container__us__cards p {
        font-size: 0.6em;
    }
}

/* container contact*/

.container__contact {
    width: 100%;
    background-color: var(--bg-secondary);
}

.container__contact__network {
    width: 600px;
    height: 1080px;
    background-image: url("/src/img/ImgMain/ImgContact/BG__Contact.png");
    box-shadow: inset 0 30px 40px var(--black-shadows), inset 0 -30px 40px var(--black-shadows);
}