html, body, main {
    background-color: #000000;
    overflow-x: hidden;
}

.container__home {
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/src/img/ImgMain/img_home.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 20px 0 20px var(--black-shadows);
}

.container__home__text {
    width: 100vw;
    font-family: var(--font-primary);
    color: var(--font-color-one);
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    padding: 2.5em 0;
    box-shadow: 0 0 10px #0000001e;
}

.container__home__text h1 {
    font-size: 3.4em;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0.1em 0;
    color: #000000;
}

.container__home__text p {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000000;
}

@media screen and (max-width: 1024px) {
    .container__home__text{
        width: 55vw;
    }
    .container__home__text h1 {
        font-size: 2.2rem;
    }
    .container__home__text p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 730px) {
    .container__home {
        flex-direction: column-reverse;
        justify-content: center;
        background-image: url("/src/img/ImgMain/img_home_mobile.jpeg");
    }
    .container__home__text {
        width: 100vw;
        padding: 2em 0;
    }
    .container__home__text h1{
        font-size: 1.8rem;
        font-weight: 300;
    }
    .container__home__text p {
        font-size: 0.7em;
    }
    .container__home__img {
        width: 90vw;
        padding-bottom: 2em;
    }
    .container__img {
        width: 300px;
        height: 300px;
    }
     
}

/* HOME FINAL */

/* QUEM SOMOS */

.container__us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 6em 8em 6em;
}

.container__text {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: var(--font-secondary);
    color: var(--font-color-one);
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-tertiary);
}

.container__text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--font-color-one);
    font-family: var(--font-primary);
    letter-spacing: 1px;
    padding: 1em 0;
}

.container__text p {
    font-size: 1em;
    text-align: start;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.2em;
}

.container__us__box__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0;
}

.container__us__card {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__us__card a img {
    width: 300px;
    opacity: 40%;
}

.container__us__card a img:hover {
    transition: 500ms;
    transform: scale(1.2);
    opacity: 100%;
}

.container__us__card h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--font-color-one);
    font-family: var(--font-secondary);
    letter-spacing: 1px;
}

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 730px) {
    .container__us {
        padding: 6em 1em 4em 1em;
    }
    .container__text {
        width: 90vw;
    }
    .container__text h1 {
        font-size: 1.8rem;
    }
    .container__text p {
        font-size: 0.9em;
        line-height: 1.4em;
    }
    .container__us__card {
        width: 150px;
        height: 250px;
        gap: 1.4em;
    }
    .container__us__card a img {
        width: 125px;
        opacity: 100%;
    }
    .container__us__card h1 {
        font-size: 0.8rem;
    }
}

.container__services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color-one);
    padding: 4em 0 8em 0;
    color: var(--font-color-one);
}

.container__services h1 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-primary);
    letter-spacing: 1px;
    padding: 1em 0;
}

.container__services h2 {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-primary);
    letter-spacing: 1px;
    padding: 0.5em 0;
}

.container__box__text {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__box__text h1 {
    font-size: 1.2em;
    font-family: var(--font-secondary);
    font-weight: 400;
    padding-bottom: 1em;
    letter-spacing: 1px;
}

.container__box__text p {
    font-size: 0.9em;
    font-family: var(--font-primary);
    font-weight: 200;
    line-height: 1.4em;
    text-align: center;
}

.container__box__text a {
    text-decoration: none;
    color: var(--font-color-one);
    font-weight: 500;
}

.container__box__text img {
    width: 30px;
    border-radius: 50%;
    margin-top: 1em;
}

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 730px) {
    .container__services{
        padding: 8em 0;
    }
    .container__services h1 {
        font-size: 1.6rem;
        text-align: center;
    }
    .container__services h2 {
        font-size: 1rem;
    }
    .container__box__text{
        width: 80vw;
    }
    .container__box__text h1 {
        font-size: 1em;
    }
    .container__box__text p {
        font-size: 0.8em;
    }
    .container__box__text img {
        width: 25px;
    }
    
}
/* QUEM SOMOS FINAL */

/* CONTATO */

.container__contact {
    width: 100%;
    background-color: var(--bg-secondary);
    display: flex;
}

.container__contact__network {
    width: 35vw;
    height: 100vh;
    background-image: url("/src/img/ImgMain/ImgContact/BG__Contact.png");
    box-shadow: inset 0 30px 40px var(--black-shadows), inset 0 -30px 40px var(--black-shadows);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__contact__network h1 {
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    color: var(--font-color-one);
    font-weight: 100;
    padding-bottom: 2em;
}

.container__networks ul li {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.6em 2em;
    margin-bottom: 2em;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 1.5em;
}

.container__networks ul li:hover {
    transition: 400ms;
    transform: scale(1.1);
}

.container__networks img{
    width: 32px;
}

.container__networks ul li a {
    font-size: 1em;
    font-weight: 100;
    font-family: var(--font-secondary);
    color: var(--font-color-one);
    text-decoration: none;
    letter-spacing: 1px;
}

.container__contact__form {
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    font-family: var(--font-secondary);
}

.container__form h1 {
    font-size: 1.6rem;
    font-weight: 100;
    padding-bottom: 2rem;
}

.contact__form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.contact__form input {
    background-color: var(--white-primary);
    padding: 0.8em 2.2em;
    font-family: var(--font-secondary);
    border-radius: 1.5em;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

.contact__form input:focus, input:hover, textarea:hover, textarea:focus {
    transition: 300ms;
    border: solid 1px var(--color-tertiary);
    box-shadow: 0 0 6px var(--color-tertiary);
}

.contact__form input::placeholder {
    color: var(--font-color-two);
    font-weight: 500;
}

.contact__form .inputName {
    background-image: url("/src/img/ImgMain/ImgContact/usuario-de-perfil.png");
    background-repeat: no-repeat;
    background-position: 0.3em;
    background-size: 20px;
}

.contact__form .inputEmail {
    background-image: url("/src/img/ImgMain/ImgContact/o-email.png");
    background-repeat: no-repeat;
    background-position: 0.3em;
    background-size: 20px;
}

.contact__form textarea {
    height: 10vh;
    padding: 1em;
    font-family: var(--font-primary);
    border-radius: 1.5em;
    border: none;
    outline: none;
}

.contact__form .inputSubmit {
    font-size: 1em;
}

.contact__form .inputSubmit:hover {
    transition: 500ms;
    background-color: var(--color-tertiary);
    color: var(--font-color-one);
    font-weight: 500;
}

@media screen and (max-width: 730px) {
    .container__contact__form {
        display: none;
    }
    .container__contact__network {
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000000;
    }
}
/* CONTATO FINAL */

/* PLANOS */
.container__plans {
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em 0;
    font-family: var(--font-secondary);
}

.container__plans__text {
    font-family:  var(--font-primary);
    text-align: center;
}

.container__plans__text h1 {
    font-size: 2em;
    font-weight: 700;
    color: var(--font-color-two);
    letter-spacing: 1px;
    padding-bottom: 1.8rem;
}

.container__flat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0;
    color: var(--font-color-two);
    font-family: var(--font-secondary);
}

.container__flat .flats {
    width: 22vw;
    height: 100vh;
    padding: 2em 1em;
    border-radius: 1em;
    background-color: var(--white-primary);
    box-shadow: 0 0 6px var(--black-shadows);
}

.flats h1 {
    font-size: 1.2em;
    font-weight: 600;
    font-family: var(--font-primary);
}

.flats .flats__descripition {
    font-size: 0.9em;
    padding: 3em 0;
}

.flats .flats__price {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #000000ab;
}

.flats__price strong {
    font-size: 2em;
    font-weight: 700;
    color: var(--color-tertiary);
}

.flats .flats__alerts {
    font-size: 0.9em;
    font-weight: 500;
    padding: 1em 0;
    opacity: 60%;
}

.flats div {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flats a {
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-tertiary);
    border: solid 2px var(--color-tertiary);
    border-radius: 1.6em;
    padding: 0.6em 3em;
}

.flats a:hover {
    transition: 400ms;
    background-color: var(--color-tertiary);
    color: var(--font-color-one);
    border: none;
}


.flats ul li {
    display: flex;
    gap: 0.6em;
    font-size: 0.9em;
    font-weight: 400;
    font-family: var(--font-secondary);
    color: var(--font-color-two);
    padding: 1em 0;
}

.flats ul li strong {
    font-weight: bold;
}

@media screen and (max-width: 730px) {
    .container__flat {
        flex-direction: column;
        gap: 2em;
    }
    .container__flat .flats {
        width: 80vw;
        height: 68vh;
    }
    .flats h1 {
        font-size: 0.9em;
        font-weight: 600;
        font-family: var(--font-primary);
    }
    .flats .flats__descripition {
        font-size: 0.7em;
        padding: 3em 0;
    }
    .flats .flats__price {
        font-size: 1.1em;
        letter-spacing: 1px;
        color: #000000ab;
    }
    .flats__price strong {
        font-size: 1.7em;
        font-weight: 700;
        color: var(--color-tertiary);
    }
    .flats .flats__alerts {
        font-size: 0.7em;
        font-weight: 500;
        padding: 1em 0;
        opacity: 60%;
    }
    .flats a {
        padding: 0.6em 4em;
    }
    .flats ul li {
        font-size: 0.7em;
    }
}

/* PLANOS FINAL*/